* {
	box-sizing: border-box;
}
p {
	position: static;
	top: 20px;
	color: black;
	text-align: center;
	font-family: sans-serif;
	font-size: 14px;
	font-weight: normal;
	width: 300px;
	height: 500px;
}

body {
	background-image: url("/users/Michael/desktop/Wallpapers/4.jpg");

	}

.heading {
	color: red;
	margin: auto;
	padding: 10px;
	text-align: center;
	font-family: sans-serif;
	font-size: 20px;
	font-weight: normal;
	background-color: white;
	opacity: 0.75;
}

header {
	background-color: white;
	opacity: 0.75;
	margin: auto;
	width: 20%;
	border-style: 3px dotted black;
	text-align: center;
	z-index: 10;


}

.login body {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 14px; 
}

.login label {
	font-weight: bold;
	width: 100px;
	font-size: 14px;
}

.box {
	border: red solid 1px;

}
.table {
	display: table;
	margin: 0 auto;
}
ul#horizontal-list {
	min-width: 600px;
	list-style: none;
	padding-top: 20px;
}
